{{ define "main" }}
<div
  class="px-4 border-bleu border-t-4 border-b-4 main-image"
  style="background: url('{{ .Params.image }}') center center / cover no-repeat"
>
  <div class="flex py-8 lg:mx-auto" style="max-width: 1200px;"></div>
</div>

<div class="p-4">
  <div class="flex lg:mx-auto" style="max-width: 1200px;">
    <h2 class="text-blue text-2xl font-display font-semibold">{{ .Title }}</h2>
  </div>
</div>

<div class="p-4">
  <div class="lg:mx-auto" style="max-width: 1200px;">
    <div class="content">
      {{ .Content }}
    </div>

    <div class="grid gap-4 grid-cols-1 lg:grid-cols-4">
      {{ range .Params.sponsors }}
      <div class="bg-white p-4 border border-gray-400 rounded flex flex-col items-center">
        <img src="{{.image}}" class="h-16" />
        <div class="font-semibold text-blue text-xl mb-2">{{.name}}</div>
        <div class="text-gray-600 text-xs mb-2">{{.description}}</div>
        <a class="text-xs px-4 py-1 rounded-full border border-bleu" href="{{.website}}" target="_blank">Visit website</a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
