<form id="register-form" method="POST" class="mb-4">
  <label for="name">Nume și prenume</label>
  <input
    type="text"
    name="name"
    id="name"
    required
    class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
  />

  <label for="from">Adresă de email</label>
  <input
    type="email"
    name="from"
    id="from"
    required
    class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
  />

  <label for="club">Club</label>
  <input
    type="text"
    name="club"
    id="club"
    required
    class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
  />

  <label for="town">Oraș</label>
  <input
    type="text"
    name="town"
    id="town"
    required
    class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
  />

  <label for="hotel">Alege hotelul</label>
  <select
    class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
    name="hotel"
    id="hotel"
  >
    <option value="">---</option>
    <option value="Delta">Hotel Delta/California</option>
    <option value="Majestic">Hotel Majestic</option>
    <option value="Iris" disabled>Hotel Iris/Nalba</option>
    <option value="Camelia">Hotel Camelia</option>
    <option value="Cristal">Hotel Cristal</option>
    <option value="Topaz">Hotel Topaz</option>
    <option value="Violeta">Hotel Violeta</option>
  </select>

  <label for="adulti">Număr adulți în cameră</label>
  <input
    type="number"
    name="adulti"
    id="adulti"
    required
    class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
  />

  <label for="copii">Număr copii în cameră</label>
  <input
    type="number"
    name="copii"
    id="copii"
    required
    class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
  />

  <label for="arrival">Data sosire</label>
  <input
    type="date"
    name="arrival"
    id="arrival"
    required
    class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
  />

  <label for="arrival">Data plecare</label>
  <input
    type="date"
    name="departure"
    id="departure"
    required
    class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
  />

  <label for="tournament">Alege turneul principal</label>
  <select
    class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
    name="tournament"
    id="tournament"
  >
    <option value="">---</option>
    <option value="Piticot">Turneu Piticot - Copii sub 6 ani</option>
    <option value="A">Turneu A - Copii sub 8 ani</option>
    <option value="B">Turneu B - Copii sub 10 ani</option>
    <option value="C">Turneu C - Copii sub 14 ani</option>
    <option value="D">Turneu D - Open internațional</option>
  </select>

  <label for="message">Observații</label>
  <textarea
    class="w-full px-4 py-2 mb-4 border border-gray-500 text-gray-800 focus:text-gray-900 focus:border-green-500"
    name="message"
    id="message"
    rows="3"
    placeholder="Mesaj, observații, note"
  ></textarea>

  <input type="text" name="ascuns" id="ascuns" class="hidden" />
  <div class="flex flex-row items-center">
    <button
      id="submit"
      type="submit"
      class="bg-blue text-white text-base py-2 px-4 mr-4"
      style="min-width: 140px"
    >
      Trimite
    </button>
    <div id="success" class="hidden text-green text-sm">
      Mesajul a fost trimis cu succes. Vă mulțumim!
    </div>
    <div id="error" class="hidden text-blue text-sm">
      A apărut o eroare în trimiterea mesajului. Te rugăm să încerci din nou
    </div>
  </div>
</form>

<script type="text/javascript">
  window.addEventListener("load", function() {
    function sendData() {
      const XHR = new XMLHttpRequest();

      // Bind the FormData object and the form element
      const formData = new FormData(document.getElementById("register-form"));
      const jsonData = JSON.stringify(Object.fromEntries(formData));

      XHR.addEventListener("loadstart", function(event) {
        document.getElementById("submit").disabled = "disabled";
        document.getElementById("submit").classList.add("opacity-50", "cursor-not-allowed");
      });
      XHR.addEventListener("load", function(event) {
        document.getElementById("success").classList.remove("hidden");
      });
      XHR.addEventListener("error", function(event) {
        document.getElementById("error").classList.remove("hidden");
      });

      // Check for honeypot
      if (document.getElementById("ascuns").value) {
        return false;
      }

      // Set up our request
      if (!~"{{ .Site.BaseURL | absURL }}".indexOf("localhost")) {
        XHR.open("POST", "{{ .Site.BaseURL | absURL }}/.netlify/functions/register-form");
        XHR.send(jsonData);
      }
    }

    // Access the form element...
    let form = document.getElementById("register-form");

    // ...and take over its submit event.
    form.addEventListener("submit", function(event) {
      event.preventDefault();

      sendData();
    });
  });
</script>

