.tabbed {
  display: flex;
  flex-wrap: wrap;
}
.tabbed > input {
  display: none;
}
.tabbed > input + label {
  background: #eee;
  border: solid 2px #eee;
}
.tabbed > input:checked + label {
  background: white;
  border: solid 2px #283891;
}
.tabbed > input:checked + label + div {
  display: block;
}
.tabbed > label {
  order: 1;
}
.tabbed > div {
  order: 2;
  flex-basis: 100%;
  display: none;
}
