{{ define "main" }}
{{ partial "cover.html" . }}

<div class="px-4 py-8">
  <div class="lg:flex lg:flex-col lg:mx-auto" style="max-width: 1200px;">
    <div class="text-sm lg:text-normal mb-8">
      {{ .Content }}
    </div>

    <div class="tabbed">
      {{ range $i, $edition := $.Params.Editions }}
      <input type="radio" id="tabbed-{{ $edition.year }}" name="tabbed" {{ if eq $i 0 }}checked{{ end }}>
      <label for="tabbed-{{ $edition.year }}" class="cursor-pointer p-2 mr-2 rounded-full">{{ $edition.year }}</label>
      <div class="animated fadeIn 1s my-4">
        {{ range $tournament := $edition.tournaments }}
        <div class="flex mb-4">
          <a href="{{ $tournament.url }}" target="_blank" rel="noopener noreferrer" class="capitalize bg-yellow text-sm text-black py-2 px-4 rounded-full">
            <span>{{ $tournament.name }}</span>
            <i class="fas fa-angle-double-right"></i>
          </a>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
