<div class="grid gap-4 grid-cols-1 lg:grid-cols-2 mb-4">
  {{ range first 2 (where .Pages "Section" "blog") }}
  <div class="move-up bg-white p-4 border border-gray-400 rounded-lg flex flex-col">
    <h4 class="text-blue text-lg font-semibold mb-2">
      <a href="{{ .Permalink }}" class="hover:underline">{{- .Title -}}</a>
    </h4>
    <div class="mb-4 text-sm flex items-center">
      <i class="far fa-calendar-alt"></i>
      <div class="ml-1 mr-2">{{ .Date.Format "2006-01-02" }}</div>

      <i class="fas fa-user"></i>
      <div class="ml-1 mr-2">{{ .Params.author }}</div>
    </div>
    <div class="content text-sm text-gray-700">
      {{- .Summary -}}
    </div>
  </div>
  {{ end }}
</div>
