<footer class="px-4 py-8 bg-bleu">
  <div class="flex items-center lg:mx-auto" style="max-width: 1200px;">
    <img src="/logo/fisca-logo.png" alt="Fisca Logo" width="64" class="mr-2" />
    <h3 class="text-white font-display text-xs">
      <div>{{ .Site.Title }} | {{ .Site.Params.Timeframe }}</div>
      <div>
        Website realizat de
        <a
          href="https://chesscoders.com"
          target="_blank"
          rel="noopener noreferrer"
          class="underline"
          >Chess Coders</a
        >
      </div>
    </h3>
  </div>
</footer>
