<header class="w-full p-4 flex justify-between items-center z-50">
  <div class="w-full lg:mx-auto flex justify-between items-center" style="max-width: 1200px;">
    <a href="/" class="flex items-center">
      <img src="/logo/fisca-logo.png" alt="Fisca Logo" class="w-16 h-16" />
      <div class="flex flex-col">
        <h1 class="text-blue px-2 font-display text-xl uppercase xl:font-semibold">{{ .Site.Params.Sitename }}</h1>
        <h2 class="hidden lg:block text-blue px-2 font-display text-sm xl:text-base xl:font-semibold">{{ .Site.Params.description }}</h2>
      </div>
    </a>
    <nav class="nav-menu inline-block">
      <input type="checkbox" id="menu" class="hidden" aria-label="Menu open/close" />
      {{ partial "menu-list.html" . }}
    </nav>
    <button
      class="lg:hidden text-blue flex items-center rounded-full border-2 py-1 px-2"
      onclick="openMenu()" aria-label="Open menu" id="menubutton" style="outline: 0;"
    >
      <i class="fas fa-bars w-8 text-xl" id="menuicon"></i>
      Menu
    </button>
  </div>
</header>

<script type="text/javascript">
  function openMenu() {
    document.getElementById("menu").checked = !document.getElementById("menu").checked
    document.addEventListener("click", outsideClickListener)
  }
  function closeMenu() {
    document.getElementById("menu").checked = false
  }

  function outsideClickListener(event) {
    if (!["menubutton", "menulist", "menuicon", "menu"].includes(event.target.id) && document.getElementById("menu").checked) {
      removeClickListener()
      closeMenu()
    }
  }
  function removeClickListener() {
    document.removeEventListener("click", outsideClickListener)
  }
</script>
