<ul class="bg-white lg:bg-transparent text-gray-900 text-left lg:flex" id="menulist">
  <li class="lg:hidden">
    <button onclick="closeMenu()" class="w-8 h-8 bg-red-500 text-white" aria-label="Close menu">
      <i class="fas fa-times"></i>
    </button>
  </li>
  {{ range .Site.Menus.main }}
  {{ if .HasChildren }}
  <li class="px-4 py-2 lg:py-4 lg:font-semibold lg:text-md lg:tracking-wide hover:text-yellow">
    <div class="lg:flex lg:items-center">
      <a href="{{.URL}}" class="block lg:inline">
        <span class="menu-text">{{ .Name }}</span>
      </a>
      <div class="hidden lg:block lg:ml-1">
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>

    <ul class="submenu text-sm grid gap-6 px-4 pt-4 lg:px-8 lg:py-4 lg:shadow-lg">
      {{ range .Children }}
      {{ $target := "" }}
      {{ if eq (substr .URL 0 4) "http" }}
      {{ $target = "_blank" }}
      {{ end }}
      <li>
        <a href="{{ .URL }}" class="flex items-center" target="{{$target}}">
          <span class="text-black mr-1">{{ .Name }}</span>
          <span class="text-bleu">{{ .Post }}</span>
        </a>
      </li>
      {{ end }}
    </ul>
  </li>
  {{ else }}
  <li class="px-4 py-2 lg:py-4 lg:font-semibold hover:text-yellow">
    <a href="{{.URL}}" class="block lg:inline">
      <span class="menu-text">{{ .Name }}</span>
    </a>
  </li>
  {{ end }}
  {{ end }}
</ul>
