<ul class="bg-white lg:bg-transparent text-gray-900 text-left lg:flex" id="menulist">
  <li class="lg:hidden">
    <button onclick="closeMenu()" class="w-8 h-8 bg-red-500 text-white" aria-label="Close menu">
      <i class="fas fa-times"></i>
    </button>
  </li>
  {{ range .Site.Menus.main }}
  {{ if .HasChildren }}
  <li class="border-gray-200 px-4 border-b border-gray-200 lg:border-0 lg:font-bold hover:text-yellow">
    <span>{{ .Name }}</span>
  </li>
  <ul class="sub-menu hidden">
    {{ range .Children }}
    <li class="">
      <a href="{{ .URL }}">{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>
  {{ else }}
  <li class="border-gray-200 px-4 border-b border-gray-200 lg:border-0 lg:font-bold hover:text-yellow">
    <a href="{{.URL}}" class="block lg:inline">
      <span class="menu-text">{{ .Name }}</span>
    </a>
  </li>
  {{ end }}
  {{ end }}
</ul>
