<div class="w-full px-4 py-2 shadow">
  <div class="w-full lg:mx-auto flex justify-between items-center" style="max-width: 1200px;">
    <h3 class="font-body text-sm flex-1">
      <a href="tel:{{ .Site.Params.phone }}">
        <i class="fas fa-phone"></i>
        <span>{{ .Site.Params.phone }}</span>
      </a>
    </h3>
    {{ range .Site.Params.icons }}
    <a
      class="w-8 h-8 text-white flex justify-center items-center rounded-full bg-blue ml-1"
      href="{{.url}}"
      target="_blank"
    >
      <i class="{{.icon}}"></i>
    </a>
    {{ end }}
  </div>
</div>
