{{ define "main" }}
<div class="px-4 py-20" style="background: url('{{ .Params.image }}') center center / cover no-repeat">
  <div class="flex py-8 lg:mx-auto" style="max-width: 1200px;">
    <h2 class="bg-white px-1 text-2xl font-display font-semibold">{{ .Title }}</h2>
  </div>
</div>

<div class="px-4 py-8">
  <div class="lg:flex lg:flex-col lg:mx-auto" style="max-width: 1200px;">
    <div class="text-sm lg:text-normal mb-8">
      <time datetime="2014-09-20" class="icon border border-gray-300 my-2">
        <em>Vineri</em>
        <strong class="bg-blue text-white">Iunie</strong>
        <span>21</span>
      </time>

      <time datetime="2014-09-20" class="icon border border-gray-300 my-2">
        <em>Sâmbătă</em>
        <strong class="bg-blue text-white">Iunie</strong>
        <span>22</span>
      </time>
    </div>
  </div>
</div>
{{ end }}
