{{ define "main" }}

{{ partial "cover.html" . }}
{{ partial "title.html" . }}

<div class="px-4 mb-4">
  <div class="lg:flex lg:flex-col lg:mx-auto" style="max-width: 1200px;">
    <div class="grid grid-table grid-table-4 lg:grid-cols-4 mb-8">
      <div class="font-semibold hidden lg:block">Turneu</div>
      <div class="font-semibold hidden lg:block">Tip turneu</div>
      <div class="font-semibold hidden lg:block">Runde</div>
      <div class="font-semibold hidden lg:block">Timp de joc</div>

      {{ range $tournament := .Params.tournaments }}
        <div class="bg-blue text-white lg:bg-gray-200 lg:text-black">{{ $tournament.name }}</div>
        <div>{{ $tournament.type }}</div>
        <div>{{ $tournament.rounds }}</div>
        <div>{{ $tournament.time }}</div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
